<!--@subject {{trans "%store_name Subscription Release Failure" store_name=$store.frontend_name}} @-->
<!--@vars {
"var customer_name":"Customer Name",
"var failure_reason":"Failure Reason",
"layout handle=\"order_items\" order=$order_items area=\"frontend\"":"Order Items Grid"
} @-->
{{template config_path="design/email/header_template"}}

<p>{{var customer_name}}</p>

{{layout handle="order_items" items=$order_items area="frontend"}}

<p>{{var failure_reason}}</p>

{{template config_path="design/email/footer_template"}}