<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="PayPal_Subscription" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Amqp"/>
            <module name="Magento_Braintree"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Eav"/>
            <module name="Magento_Sales"/>
            <module name="Magento_Quote"/>
            <module name="Magento_Wishlist"/>
            <module name="Magento_GiftMessage"/>
            <module name="Magento_Vault"/>
        </sequence>
    </module>
</config>
