<!--
*
* PayPal Subscriptions
*
-->
<div class="fieldset">
    <div>
        <div>
            <label class="label"
                   for="select-status"
                   data-bind="i18n: 'Current Subscription Status:'"></label>
        </div>
        <select style="width:300px;" id="select-status"
                data-bind="options: setStatusOptions(),
                   optionsText: 'label',
                   optionsValue: 'value',
                   value: status,
                   event: { change: updateStatus }"></select>
        <p class="ps-error" data-bind="i18n: message, attr: { class: messageClass }"></p>
    </div>
</div>